#box {
    border: 1px solid black;
    margin-top: 200px;
    top: 150px;
    width: 660px;
    height: auto;
   background-color:white;
   margin-right: 50px;
   margin-left: 400px;
   border-radius: 10px;
  }
button{
    color: white;
    height: 50px;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style:bold;
    margin-bottom: 20px;
    background-color: blue;
    border-radius: 10px;
}
body{
    background-image: url('https://wallpapercave.com/wp/92r6xWU.jpg');
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style:bold;
    margin-left: 10px;
    display: inline;
}
input{
    height: 30px;
    width: 300px;
    margin-left: 10px;
    margin-top:10px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style:bold;
    margin-left: 10px;
}
select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style:bold;
    height: 30px;
    width: 300px;
    margin-left: 30px;
    color: black;
    background-color: white;
    margin-top: 20px;
}
h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
